body {
    background-color: purple;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cat {
    background-color: black;
    display: flex;
    justify-content: center;
}

p {
    background-color: white;
    font-family: impact;
    
}